<% provide(:title, 'Sign In') %>
<h1>Sign In</h1>
<%= form_for(@user) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign In", class: "btn" %>
    <% end %>
